.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 3;
}

.board {
    display: flex;
    flex-direction: column;
}
.tile-row {
    display: flex;
    justify-content: center;
}
