.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 4;
}

.board {
    display: flex;
    flex-direction: column;
}
.tile-row {
    display: flex;
    justify-content: center;
}

/* thing itself idk */
.charasprite {
    width: 48px;
    height: 48px;
    background-size: cover;
    transform: scale(1.4);
    transform-origin: center;
}

/* p1 */
.player1 {
    background-image: url('../assets/p1chara.png');
    transform: scale(1.2);
}

.player1.sprite-frame-1 {
    background-position: 0 -48px;
}

.player1.sprite-frame-2 {
    background-position: 0 -96px;
}

.player1.sprite-frame-3 {
    background-position: 0 -144px;
}

.player1.sprite-frame-4 {
    background-position: 0 -192px;
}

.player1.sprite-frame-5 {
    background-position: 0 -240px;
}

/* p2 */
.player2 {
    background-image: url('../assets/p2chara.png');
}

.player2.sprite-frame-1 {
    background-position: 0 -48px;
}

.player2.sprite-frame-2 {
    background-position: 0 -96px;
}

.player2.sprite-frame-3 {
    background-position: 0 -144px;
}

.player2.sprite-frame-4 {
    background-position: 0 -192px;
}

.player2.sprite-frame-5 {
    background-position: 0 -240px;
}

.dice-container {
    margin-top: 20px;
}

.dice-container span {
    color: white;
}

.dice-container input,
.dice-container span,
.dice-container img {
    margin: 10px;
}

.enemy-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.enemy-popup-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.enemy-popup-box h3 {
    margin-top: 0;
}