.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 4;
}

.board {
    display: flex;
    flex-direction: column;
}
.tile-row {
    display: flex;
    justify-content: center;
}

/* thing itself idk */
.charasprite {
    width: 48px;
    height: 48px;
    background-size: cover;
    transform: scale(1.4);
    transform-origin: center;
}

/* p1 */
.player1 {
    background-image: url('../assets/p1chara.png');
    transform: scale(1.6);
}

.player1.sprite-frame-1 {
    background-position: 0 -48px;
}

.player1.sprite-frame-2 {
    background-position: 0 -96px;
}

.player1.sprite-frame-3 {
    background-position: 0 -144px;
}

.player1.sprite-frame-4 {
    background-position: 0 -192px;
}

.player1.sprite-frame-5 {
    background-position: 0 -240px;
}

/* p2 */
.player2 {
    background-image: url('../assets/p2chara.png');
    transform: scale(1.6) scaleX(-1);
}

.player2.sprite-frame-1 {
    background-position: 0 -48px;
}

.player2.sprite-frame-2 {
    background-position: 0 -96px;
}

.player2.sprite-frame-3 {
    background-position: 0 -144px;
}

.player2.sprite-frame-4 {
    background-position: 0 -192px;
}

.player2.sprite-frame-5 {
    background-position: 0 -240px;
}

.dice-container {
    margin-top: 20px;
}

.dice-container span {
    color: white;
}

.dice-container input,
.dice-container span,
.dice-container img {
    margin: 10px;
}

.enemy-popup-overlay,
.attacking-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.enemy-popup-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.attacking-popup-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 1px solid #ff0000;
}

.enemy-popup-box h3,
.attacking-popup-box h3 {
    margin-top: 0;
}

.powerup-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.powerup-popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1001;
}

.powerup-popup-sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.mcq-box {
    display: flex;
    flex-direction: column;
}

.mcq-box button {
    margin: 10px;
    padding: 10px;
}

.attacking-sprites {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.yuh {
    transform: scale(10);
    transform-origin: center;
}

.attacking-dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}