/* Add this to your existing CSS */
html,
body {
    height: 100%;
    margin: 0;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.home-content {
    z-index: 1;
    text-align: center;
}