* {
    font-family: "Noto Serif", serif;
}

.login-container {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo-welcome {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: rgba(192, 237, 166);
}

.login-logo-welcome>img {
    width: 256px;
    height: 256px;
}

.login-logo-welcome>span {
    text-align: justify;
}

.login-fields>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo-welcome,
.login-fields {
    padding: 30px;
    margin: 5px;
    border-radius: 5%;
}

.login-button {
    width: 52.15px;
    /* THIS WAS SO FORCED LOL BEERCSS DECLARATIONS ARENT 
    CENTERING THE BUTTON LIKE I WANTED AND ITS TRIGGERING MY OCD*/
}

@media screen and (max-width: 620px) {
    .login-container {
        display: flex;
        flex-direction: column;
    }
}