.nav-navbar {
    padding: 10px;
    z-index: 10;
    background-color: white;
}

.nav-navbar2 {
    padding: 10px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

